@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

header li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px 100px;
    top: 0;
    right: 0;
    background-color: #24252A;
    transition: 0.5s;
    z-index: 1000;
}

.nav__links {
    display: flex;
    column-gap: 5rem;
    list-style: none;
}

.nav__links li {
    position: relative;
}

.nav__links a {
    font-size: 1rem;
    font-weight: 500;
    color: beige;
}

.nav__links a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.3s all linear;
}

.nav__links a:hover::after,
.nav__links #home-active::after {
    width: 100%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #34353c;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 4px;
    width: 200px;
}

.dropdown-menu li {
    padding: 8px 16px;
}

.dropdown-menu li a {
    color: beige;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #3a3b3f;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.logo {
    cursor: pointer;
}

.botaoheader {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

/* search bar */
.search {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    background-color: #00000006;
    width: 50%;
    height: 60px;
    margin: 20px auto;
    border-radius: 20px;
    color: #4b4b4b;
    font-size: 25px;
    position: relative;
}

#searchInput {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.search label {
    height: 20px;
}

.bi-search {
    margin-left: 30px;
}

#pesq {
    padding: 8px;
    height: 60px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    border: none;
    color: white;
}

#results {
    width: 50%;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 0 0 20px 20px;
    padding: 10px;
    background-color: #f9f9f9;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.result-item {
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.result-item:hover {
    background-color: #ddd;
}



/*footer*/

footer {
    width: 100%;
    color: #f5f5f5;
}

.footer-link {
    text-decoration: none;
}

.footer-list {
    list-style: none;
}

#footer-content {
    background-color: #24252A;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer-contacts h1 {
    margin-bottom: 0.75rem;
}

#footer-social-media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-social-media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: f5f5f5;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer-social-media .footer-link i {
    font-size: 1.25rem;
}

#footer-social-media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer-list .footer-link {
    color: #a8a29e;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer-subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer-subscribe p {
    color: #a8a29e;
}

#input-group {
    display: flex;
    align-items: center;
    background-color: #0e0c0c;
    border-radius: 4px;
}

#input-group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input-group button {
    background-color: #7f37c9;
    border: none;
    color: #f5f5f5;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input-group button:hover {
    opacity: 0.8;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    background-color: #171717;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer-content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

/*TMDB RELATED*/

.carousel_container {
    max-width: 100vw;
    width: 100%;

}
.slick-track {
    height: 50vh;
    width: 100%;
}
.slick-slide img {
    width: inherit;
    height: inherit;
}
.sort_by_genre {
    padding: 20px 20px 0px 20px;
}
.sort_by_genre_title {
    border-bottom: 2px solid black;
}
.sort_by_genre_list_romance,
.sort_by_genre_list_horror {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sort_by_genre_poster_div {
    width: 200px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: #24252A;
    position: relative;
    overflow: hidden;

}
.sort_by_genre_poster_div img{
    width: 200px;
    height: 280px;
}
.sort_by_genre_movie_text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.sort_by_genre_movie_text h3{
    margin-top: 0;
}
.movie-link {
    width: auto;
    color: black;
}
.overview {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 13px;
    bottom: 0;
    background-color: beige;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}
.sort_by_genre_movie_text span{
    background: rgb(250 250 250 / 40%);
    padding: 2px;

}
.sort_by_genre_poster_div:hover .overview {
    transform: translateY(0);
}

/**/